/* Vars */
:root {
    --cw-background-color:  whitesmoke;
}

/* Element */
body {
    background-color:  #101010;
    margin: 10px;
}

table {
    margin: 0%;
    border-collapse: collapse;
}

tr {
    padding-top: 0px;
    margin: 0%;
}

td {
    margin: 0%;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    vertical-align: top;
}

/*  Headers  */
header, h1 {
    font-size: larger;
}

h2 {
    font-size: smaller;
}

h3 {
    margin: 0%;
}
h4 {
    margin: 0%;
}

.normalbold {
    color: white;
    font-weight: bold;
}

/* Timeline */
.tcfirst {
    width: 150px;
}

.tcmright {
    padding-left: 30px;
}

.tcmiddle {
    height: 100%;
    width: 0px;
    padding-right: 0px;
}

.vl {
    border-left: 1px solid #31a2ff;
    height: 60px;
    position: relative;
    left: 50%;
    margin-left: -8px;
    top: 0;
}

/* Progressbar */
progress::-moz-progress-bar {
    background: #dddddd;
    width: 100%;
}

progress::-moz-progress-value {
    background: #707070;
}

progress::-webkit-progress-bar {
    background: #dddddd;
    width: 100%;
}

progress::-webkit-progress-value {
    background: #707070;
}

progress {
    padding: 0%;
    margin: 0%;
    margin-bottom: 5px;
    color: #dddddd;
    background-color: #707070;
    width: 250px;
    height: 8px;
}


/* List horizontal - Bullet between strings */
.container {
    background-color:  var(--cw-background-color);
    color: #414141;
}

.list-horizontal-bullet {
    margin: 0%;
    padding: 0%;
    font-size: medium;
}

.list-horizontal-bullet li {
    list-style: none;
    display: inline-block;
}

.list-horizontal-bullet li:after {
    content: "\2022";
    padding-right: 1em;
    padding-left: 1em;
}

.list-horizontal-bullet li:last-child:after {
    content: none;
}

/* List horizontal - Bullet to left */
.list-horizontal {
    margin: 0%;
    padding: 0%;
    padding-left: 0px;
}

.list-horizontal li {
    display: inline;
    padding-left: 5px;
}

.list-horizontal li:before {
    content: "\2022";
    margin-right: 0.5em;
}

/* Flex */
.flexhorizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flexvertical {
    flex-direction: column;
    display: flex;
/*    flex: 1;*/
    width: 550px
}

/* Main window */
#main {
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: smaller;
    background-color: var(--cw-background-color);
    margin: auto;
    width: 750px    
}

/*  About Me  */
#aboutme {
    margin: 0px;
    padding: 10px;
    background-color: #414141;
    width: 200px;
    color: white;
}

#aboutme .header {
    color: white;
}

/* Volvo pic */
#picme {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
}

#aboutme a {
    color: white;
    text-decoration-line: none;
}

/*  CV  */
#cw {
    margin: 0px;
    padding: 10px;
    background-color: var(--cw-background-color);
    color: #707070;
}
#cw section {
    background-color: var(--cw-background-color);
    padding: 0px;
    margin: 0%;
}

#cw #cwheader {
    background-color: var(--cw-background-color);
}

#cw #cwname {
    padding-top: 30px;
}

.cwname-name-header {
    font-size: xx-large;
    font-weight: bold;
    color: #707070;
    line-height: 80%;
}

.cwname-profession-header {
    font-size: large;
    color: #414141;
}

#cwcontacts {
    color: #414141;
}

#cwcontacts div ul {
    background-color: var(--cw-background-color);
}

#cwcontacts ul {
    list-style: none;
    padding-right: 10px;
    padding-top: 15px;
}

#cwcontacts img {
    margin-right: 1em;
}

#cwskills div {
    background-color: var(--cw-background-color);
}

#cw h1 {
    background-color:  var(--cw-background-color);
    margin-top: 0%;
    margin-bottom: 1em;
}

/*  HR  */
#aboutme hr {
    border-color: grey;
}

#cw hr {
    border-color: lightgrey;
    margin-top: 15px;
    margin-bottom: 15px;
}
